{% extends temp %} {% load staticfiles %}{% load cssFilter %}{% block cssadd %} {% if not request.user.is_authenticated %}
<style type="text/css">
#main-content {
    margin-left: 0px;
}
</style>
{% endif %} {% endblock cssadd %} {% block jsadd-up %} {% endblock jsadd-up %} {% block content %} {% load partial_views %}
<div class="row">
    <div class="col-lg-9 main-chart" style="padding-top:0;">
        <div class="row">
            <div class="col-lg-12 ">



                <div class="row">
                    <!-- SERVER STATUS PANELS -->
                    <div class="form-panel">
                        <legend class="center-block"><b><h1>{{course.course_id}} : {{course.course_name}}</h1></b>
                            <a href="/profile/{{course.facultyassociated.user.username}}"><i class="fa fa-user fa-x"></i> &nbsp;{{course.facultyassociated.salutation}}&nbsp;{{course.facultyassociated.user.first_name}}&nbsp;&nbsp;{{course.facultyassociated.user.last_name}}</a>

                            <br> Start-Date :&nbsp;&nbsp; {{course.start_date}} <span class="pull-right">End-Date :&nbsp;&nbsp; {{course.end_date}}</span>
                        </legend>

                        <h3>Description:</h3>
                        <p class="text-justify">
                            {{course.description}}</p>


                    </div>



                    <!-- /row -->
                </div>
                <div class="row">
                    <!-- SERVER STATUS PANELS -->
                    <div class="col-md-4" style="margin:0;padding:0">

                        <div class="form-panel">
                            <h3>Faculty</h3>
                            <img class="img-thumbnail img-responsive" src="/static/uploaded_image/fpp/{{course.facultyassociated.image}}">
                            <h4>{{course.facultyassociated.salutation}}&nbsp;{{course.facultyassociated.user.first_name}}&nbsp;&nbsp;{{course.facultyassociated.user.last_name}}</h4>
                            <h4>{{course.facultyassociated.department|expansion}}</h4>
                            <p> {{course.facultyassociated.description|safe}} </p> <a class="pull-right" href="/profile/{{course.facultyassociated.user.username}}">See More</a>
                            <br>
                        </div>


                    </div>
                    <div class="col-md-8" style="margin:0;padding:2">

                        <div class="form-panel">

                            <legend class="center-block"><b><h2>Course Structure</h2></b>


                            </legend>
                            {{course.syllabus|safe}}
                        </div>
                    </div>


                </div>
            </div>
        </div>


    </div>


    <div class="col-lg-3 ds">

    <br>
    <br>
        <div>
            <!-- INSTAGRAM PANEL -->
                <div id="blog-bg" style="background:url('/static/uploaded_image/{{ course.image }}');background-size:cover;">
                </div>
            <br>
            <div id="register_button">
            {% if not request.user.is_authenticated %}
            <a href="{% url 'login' %}?next={{request.get_full_path}}" class="btn btn-lg btn-primary btn-block"> REGISTER </a>
            {% elif request.session.type == 'faculty' %}
            <button type='button' class="btn btn-lg btn-primary btn-block" disabled='true'> REGISTER </button>
            {% elif course in request.user.student_profile.coursetaken.all %}
            <button type='button' class="btn btn-lg btn-success btn-block" disabled='true'> REGISTERED </button>
            {% else %}
            <button type='button' onclick="course_register('{{course.course_id}}')" class="btn btn-lg btn-primary btn-block"> REGISTER </button>
            {% endif %}
            </div>
            <br>
            <div class="form-panel">
                <h3>Similar Courses:</h3>
                <br>

                <ul style="margin-left:2;">
                {% for similar_course in similar_courses %}
                        <li><a href="/courseinfo/{{similar_course.course_id}}"> <img src="/static/uploaded_image/{{similar_course.image}}" class="img-thumbnail" width="40"> {{similar_course.course_name|get_nic}}</a>
                        </li>
                        <br>
                {% endfor %}
                </ul>
            </div>
        </div>

    </div>

</div>

{% endblock %} {% block jsadd %} {% endblock jsadd %}
