{% extends temp %} {% load staticfiles %} {% block cssadd %}
{% ifequal temp 'base/header.html' %}
<style type="text/css">
#main-content {
    margin-left: 0;
}
{% endifequal %}
</style>
{% endblock cssadd %} {% block content %}
<br>


<div class="row">
    <div class="col-lg-3">
        <div class="form-panel">
            <form class="form-horizontal style-form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-sm-12">
                        <legend class="center-block"><b>Select Department</b>
                        </legend>
                        <select class="form-control" name="department">
                            <option value="CSE">Computers</option>
                            <option value="ECE">Electronics & Comm</option>
                            <option value="MEC">Mechanical Engg</option>
                            <option value="IBT">IBT</option>
                            <option value="OTHER">Other</option>
                        </select>
                        <br>
                        <input type="submit" name="category" class="btn btn-primary btn-lg btn-block"></input>
                    </div>
                </div>
            </form>
        </div>
        <!--COMPLETED ACTIONS DONUTS CHART-->
    </div>

    <div class="col-lg-9 main-chart">

        <!-- /row mt -->


        <div class="row">
            <!-- SERVER STATUS PANELS -->
            {% for faculty in faculties %}
            {% if faculty.user.is_active %}
            <a href="profile/{{faculty.user.username}}">
                <div class="col-lg-4 col-md-4 col-sm-4 mb">
                    <div class="content-panel pn">
                        <div id="profile-02">
                            <div class="user">
                                <img src="static/uploaded_image/fpp/{{faculty.image}}" class="img-circle" width="120">
                                <h4><i class="fa fa-user"></i>{{faculty.salutation}}&nbsp;{{faculty.user.first_name}}&nbsp;&nbsp;{{faculty.user.last_name}}</h4>
                            </div>
                        </div>
                        <div class="pr2-social centered">
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
                {% endif %}
                {% endfor %}
                <!-- /form-panel -->

        </div>
    </div>
</div>
{% endblock content %}
