{% extends temp %} {% load staticfiles %}{% load wysiwyg %} {% block title %}
<title>SMVDU E-portal | {{ user.username | upper }}</title>
{% endblock title %} {% block content %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">


        <div class="row">
            <!-- SERVER STATUS PANELS -->
            <div class="form-panel">
                {% if msg %}
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                        &times;
                    </button>
                    {{msg}}
                </div>
                {% endif %}
                <legend class="center-block"><b>PROFILE | {{ user.username }}</b>
                </legend>
                <form class="form-horizontal style-form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">Username</label>
                                <div class="col-sm-9 col-md-9">
                                    <div class="input-group">
                                        <input type="text" name="username" value="{{ user.username }}" class="form-control" placeholder="Email" readonly>
                                        <span style="background:grey;border:grey;" class="input-group-addon">@smvdu.ac.in</span>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">First Name</label>
                                <div class="col-sm-3">
                                    <select class="form-control" name="salutation" id="salutation">
                                        <option value="Mr.">Mr</option>
                                        <option value="Ms.">Ms</option>
                                        <option value="Mrs.">Mrs</option>
                                        <option value="Dr.">Dr</option>
                                        <option value="Prof.">Prof</option>
                                    </select>
                                </div>
                                <div class="col-sm-6">
                                    <input type="text" name="first_name" value="{{ user.first_name|upper }}" class="form-control" placeholder="First Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" name="last_name" value="{{ user.last_name|upper }}" class="form-control" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">Department</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="department" id="branch">
                                        <option value="CSE">CSE</option>
                                        <option value="ECE">ECE</option>
                                        <option value="IBT">IBT</option>
                                        <option value="MEC">MEC</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 col-sm-3 control-label">Faculty Raiting</label>
                                <div class="col-sm-6">
                                    <div id="rating" class="star-rating">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                        datesem("",branch="{{user.faculty_profile.department}}",sem={{user.faculty_profile.facultyrating}},salutation="{{user.faculty_profile.salutation}}");
                        </script>
                        <div class="col-md-4">


                            <div class="row ">

                                <label class="col-sm-9 col-sm-9 control-label" style="margin-bottom:1%;margin-left:6%">Profile picture:</label>
                            </div>
                            <!-- <img src="/static/uploaded_image/{{ user.faculty_profile.image }}" width="200px"  style="margin-left:8%;margin-top:0;margin-bottom:1%;max-height:200px;max-width:200px;"> -->
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    {% if user.faculty_profile.image %}
                                    <img class="img-responsive img-thumbnail " src="/static/uploaded_image/fpp/{{ user.faculty_profile.image }}"> {% else %}
                                    <img class="img-responsive img-thumbnail" src="/static/uploaded_image/fpp/user_blue.png" /> {% endif %}

                                </div>
                            </div>
                            <br>
                            <label class="col-sm-9 col-sm-9 control-label">Change your picture:</label>
                            <br>
                            <br>
                            <input type='file' name='image'>
                            <br>


                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Research</label>
                                <div class="col-sm-10">
                                    <input type="text" name="research" class="form-control" placeholder="Research" value="{{ user.faculty_profile.research  }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Area of Interest</label>
                                <div class="col-sm-10">
                                    <input type="text" name="aoi" class="form-control" placeholder="Area of Interest" value="{{ user.faculty_profile.areaofinterest|upper  }}">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Description</label>
                                <div class="col-sm-10">
                                {% wysiwyg_setup %}

<textarea id="foo" class="form-control" name="description" rows="4" placeholder="Add your Description Here">{{ user.faculty_profile.description}}</textarea>

{% wysiwyg_editor "foo" %}
                                    <!-- <textarea class="form-control" name="description" rows="4" placeholder="Add your Description Here">{{ user.faculty_profile.description}}</textarea> -->
                                   

                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-2 col-sm-2 control-label">Weburl</label>
                                <div class="col-sm-6">
                                    <div class="input-group">
                                        <span style="background:grey;border:grey;" class="input-group-addon">www.</span>
                                        <input type="text" name="weburl" class="form-control" placeholder="Weburl" value="{{ user.faculty_profile.weburl|lower  }}">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>







                    <legend class="center-block"></legend>
                    <div class="inline">
                        <input type="submit" value="Submit" name="F_save" class="btn btn-info btn-lg" style="width:49%">&nbsp;

                        <a class="btn btn-danger btn-lg" style="width:49%" href="/profile/{{ user.username }}">View as Public</a>
                    </div>
                </form>
                <!-- /form-panel -->

            </div>
            <!-- /row -->
        </div>
        <!-- /col-lg-9 END SECTION MIDDLE -->
    </div>

</div>
{% endblock %} {% block jsadd %} {% endblock jsadd %}
