{% extends "base/sidebars.html" %} {% load staticfiles %} {% load humanize %} {% block cssadd %} {% endblock cssadd %} {% block jsadd-up %} {% endblock jsadd-up %} {% block content %}
<div class="row">
    <div class="col-lg-9 main-chart" style="padding-top:0;">
        <div class="row">
            <div class="col-lg-12 ">
                <div class="row">
                    <!-- SERVER STATUS PANELS -->
                    <div class="form-panel">
                        <legend class="center-block"><b><h1>{{course.course_id}} : {{course.course_name}}</h1></b>
                            <a href="/profile/{{course.facultyassociated.user.username}}"><i class="fa fa-user fa-x"></i> &nbsp;{{course.facultyassociated.user.first_name}}&nbsp;&nbsp;{{course.facultyassociated.user.last_name}}</a>


                        </legend>
                        <div class="form-panel" style="margin:0;padding:0;">

                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab_a" data-toggle="tab">Announcements</a>
                                </li>
                                <li><a href="#tab_b" data-toggle="tab">Courseware</a>
                                </li>
                                <li><a href="#tab_c" data-toggle="tab">Quiz</a>
                                </li>
                                {% ifnotequal course.semester 'OPEN' %}
                                <li><a href="#tab_d" data-toggle="tab">Attendance</a>
                                </li>
                                {% endifnotequal %}
                                <li><a href="#tab_e" data-toggle="tab">Video</a>
                                </li>
                                <li><a href="#tab_f" data-toggle="tab">Syllabus</a>
                                </li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" style="margin:2%" id="tab_a">
                                    <br> {% for ann in anns %}
                                    <div class="row">

                                        <div class="col-md-12">

                                            <div class="form-panel">
                                                <h2>{{ann.body|safe}}</h2>
                                                <h5 class="mb">
                                    <div class="pull-left">
                                        <h5><i class="fa fa-calendar-o"></i> Added: &nbsp;&nbsp;&nbsp;{{ann.created_at|naturaltime}}</h5>
                                            </div>
                                            <br>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}

                            </div>
                            <div class="tab-pane" style="max-height:600px;overflow:auto" id="tab_b">
                                <br> {% for material in materials %}
                                <div class="row">

                                    <div class="col-md-12">

                                        <div class="form-panel">
                                            <h2>{{material.title}}</h2>
                                            <h5 class="mb"><i class="fa fa-file-pdf-o"></i> {{material.description}}
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-calendar-o"></i> Added: &nbsp;&nbsp;&nbsp;{{material.timestamp|naturaltime}}</h5>
                                        </div>
                                        <div class="pull-right">
                                            <a href="/static/uploaded_image/{{material.document}}" type="button" class="btn btn-info btn-xs" target='blank'><i class="fa fa-download"></i> Download</a>
                                        </div>
                                        </h5>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="tab-pane" id="tab_c">
                            <div class="row">
                                {% if quizes %} {% for quiz in quizes %}
                                <br>
                                <br>
                                <div class="col-lg-10 col-lg-offset-1">
                                    <div class="row">
                                        <!-- SERVER STATUS PANELS -->
                                        <div class="form-panel">
                                            <h4 class="mb"><i  class="fa fa-hand-o-right"></i> {{quiz.title}}
                                    <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-user"></i> Added by:{{quiz.addedBy.user.first_name}} &nbsp;&nbsp;&nbsp;</h5>
                                    </div>
                                    <div class="pull-right">
                                       <a href="/quiz{{request.get_full_path}}/course_quiz/{{quiz.qid}}"> 
                                        <button type="button"  class="btn btn-info btn-xs"><i class="fa fa-download"></i> Take Quiz</button>
                                    </a>
                                        
                                      

                                    </div>
                                </h4>
                                        </div>
                                        <br>
                                        <br>
                                        <!-- /form-panel -->
                                    </div>
                                </div>
                                {% endfor %} {% else %}
                                <div class="col-md-12 mb">
                                    <div class="jumbotron" style="color: #fff;background: rgba(5, 5, 5, 0.87);">
                                        <h1>No Upcomming Quizes&nbsp;&nbsp;&nbsp;<i class="fa fa-smile-o"></i></h1>
                                    </div>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        {% ifnotequal course.semester 'OPEN' %}
                        <div class="tab-pane" id="tab_d">
                            <div class="row">
                                <div class="col-md-12 mb">
                                    <div class="jumbotron" style="color: #fff;background: rgba(5, 5, 5, 0.87);">
                                        <h4>Total classes held: &nbsp;&nbsp;{{total}}</h4>
                                        <h4>Total classes attended: &nbsp;&nbsp;{{total_p}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endifnotequal %}
                        <div class="tab-pane" id="tab_e">
                            <br>
                            {% for video in videos %}
                            <div class="form-panel">
                            <div class="row">

                                <div class="col-md-12">

                                    <div class="col-md-6">
                                        <iframe width="100%" height="50%" src="//www.youtube.com/embed/{{ video.link}}" allowfullscreen='1'>
                                        </iframe>
                                        <br>
                                    <br>
                                    <div class="pull-left">
                                        <h5><i class="fa fa-calendar-o"></i> Added : &nbsp;&nbsp;&nbsp;{{video.posted_at|naturaltime}}</h5>
                                        </div>  
                                       </div>
                                    <div class="col-md-6">
                                        <p class="text-justify blog-text">{{ video.body | safe }}</p>
                                      
                                    </div>
                                </div>
                            </div>
                            </div>
                            {% endfor %}

                        </div>
                        <div class="tab-pane" id="tab_f">
                            <br>
                            
                            <div class="form-panel">
                            <div class="row">

                                <div class="col-md-12">
                                    {{course.syllabus|safe}}
                                    
                                </div>
                            </div>
                            </div>
                            

                        </div>
                    </div>
                     <br>
                </div>
            </div>
        </div>

    </div>
</div>


</div>

<div class="col-lg-3 ds">
    <!--COMPLETED ACTIONS DONUTS CHART-->
    <h3>RECENT ACTIVITY</h3>

    <!-- First Action -->
    <div style="overflow:auto;max-height:100%">
        {% for activity in activities %}

        <div class="desc">
            <div class="thumb">
                <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
            </div>
            <div class="details">
                <p>
                    <muted>{{activity.time|naturaltime}}</muted>
                    <br>{{activity.subject}}
                    <br>
                </p>
            </div>
        </div>

        {% endfor %}
    </div>
    <!-- Second Action -->





</div>

</div>



{% endblock %} {% block jsadd %} {% endblock jsadd %}
