{% extends 'base/sidebars.html' %} {% load staticfiles %}



 {% block content %}
 <div class="row">


                <br>
                <div class='container'>
            <div class='row'>
                <div class="col-md-10 col-md-push-1">
        <div class="jumbotron">
                <legend class='text-info h2'><b>Instructions</b></legend>
                <p class='text-info bg-info h4'>
                    <ul>
                        <li>Total number of questions is </li>
                        <li>Time available to answer these questions is </li>
                        <li>2 Questions will be given at a time</li>
                        <li>Do not press 'BACK','REFRESH' button of browser,this can lead to cancellation of your quiz session.</li>
                        <li>Answer each question very carefully because you cannot go backward to alter your answers after clicking 'NEXT' button..</li>
                        <li>Do not reload any page otherwise your will not be graded.</li>
                        <li>Finish the quiz as soon as possible because time taken will also be considered for grading.</li>
                        <li><span style="color:red">MOST IMPORTANT:</span> Do not leave the quiz in between, finish it otherwise your score will not be submitted.</li>
                    </ul>
                </p>
            </div><a href="{% url 'quiz_questions' %}" class="btn btn-primary pull-right">Start</a></div>

                <a href="{% url 'quiz_questions' %}" class="btn btn-primary pull-right">Start</a>
                <!-- <div class="col-lg-6 col-lg-offset-3">

                    
                    <div class="row">
                      

                        <div class="form-panel">
                            <legend class="center-block">
                                <h1>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Quiz Specification</h1>
                            </legend>
                           

                        </div>
                    </div>


                    <div class="row">
                        

                        <div class="form-panel">
                            <legend class="center-block">No of Questions
                                <div class="pull-right">{{q.count}}</div>
                            </legend>
                            <legend class="center-block">Total time
                                <div class="pull-right">{{quiz.duration}}</div>
                            </legend>
                            <legend class="center-block">Start Date
                                <div class="pull-right">{{quiz.start_date}}</div>
                            </legend>
                            <legend class="center-block">End Date
                                <div class="pull-right">{{quiz.end_date}}</div>
                            </legend>
                            <legend class="center-block">Credits/Question
                                <div class="pull-right">{{quiz.credit}}</div>
                            </legend>
                            <div class="inline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'quiz_questions' %}" class="btn btn-info btn-lg" style="width:35%; position:relative;left:26%;">Start</a>
                            </div> -->
 {% endblock content %}